body {
    @extend .ff-1;
    @extend .ff-smoothing;
    position: relative;
    color: $gray-800;
    min-width: 320px;
}

p {
    color: $gray-800;
    font-size: 16px;
}

a {
    cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    outline: none;
}