<div class="row" id="components-alerts">
	<div class="col-12">
		<h1 class="title-style">Alertas</h1>
		<hr>
		<h2 class="subtitle-styles">Tipos de alertas</h2>
		<p>Utilize os alertas para notificar os usuários. Essas notificações podem ser sucesso, erro, atenção e informação. Veja os modelos abaixo.</p>

		<app-alert></app-alert>

	</div>
</div>

<div class="row" id="components-carousel">
	<div class="col-12">
		<h1 class="title-style">Slider</h1>
		<hr>
		<p>O slideshow abaixo mostra um plugin genérico e componente de deslizar elementos em ciclo como um carrossel</p>

		<app-carousel></app-carousel>

	</div>
</div>